page-admin-accounts {
    ion-header::after {
        background: transparent;
        background-image: none !important;
      }
      .toolbar {
        .toolbar-background{
          background: transparent;
        }
      }
    .splashImage{
        background-image: url("../assets/img/bg2.jpg");
        background-size: cover;
    }
}
