<ion-header>
    <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu" color="primary"></ion-icon>
      </button>
      <ion-title><span class="blacktext">Password Reset</span></ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content >
      <ion-item-group>
          <form #Section1="ngForm">
            <div  class="" id="emailsearch">
              <ion-searchbar  primary [(ngModel)]="queryText" (ionInput)="checkemail()" name="queryText" placeholder="Enter Recovery Email"
                required>
              </ion-searchbar>
            </div>
            <div id="section1" class="hide">
              <ion-item>
                <div class="desc">Question</div>
                <span ion-text color="primary">{{recovery?.question}}</span>
              </ion-item>
             <ion-item>
                  <ion-label stacked>Answer</ion-label>
                  <ion-input [(ngModel)]="section1.answer" class="borderbottomprimary" ngControl="answer" type="text" name="answer" #answer="ngModel">
                  </ion-input>
                </ion-item>
              <div class="center margintop">
                <button ion-button round (click)="Next(Section1)" type="submit">Next</button>
              </div>
            </div>
          </form>
      
          <div id="section2" [hidden]=true class="">
            <form [formGroup]="slideOneForm">
                <ion-item>
                  <ion-label stacked>Password</ion-label>
                  <ion-input formControlName="password" class="borderbottomprimary" type="password"  [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)"></ion-input>
                </ion-item>
              <div *ngIf="!slideOneForm.controls.password.valid  && (slideOneForm.controls.password.dirty || submitAttempt)">
                  <p class="redtext textleft paddingleft">Password should 8 characters</p>
              </div>
      
      
              <ion-item>
                <ion-label stacked>Confirm Password</ion-label>
                <ion-input formControlName="confirmpassword" class="borderbottomprimary" id="password" type="password" [class.invalid]="!slideOneForm.controls.confirmpassword.valid && (slideOneForm.controls.confirmpassword.dirty || submitAttempt)"
                (ngModelChange)="onCheckPassword($event)"></ion-input>
              </ion-item>
              <div *ngIf="slideOneForm.controls.confirmpassword.valid">
                  <p class="bluetext textlef paddingleftt" *ngIf="match === 'Password confirmed'">{{match}}</p>
                  <p class="redtext textleft paddingleft" *ngIf="match !== 'Password confirmed'">{{match}}</p>
              </div>
              <div *ngIf="!slideOneForm.controls.confirmpassword.valid  && (slideOneForm.controls.confirmpassword.dirty || submitAttempt)">
                  <p class="redtext textleft paddingleft">Please confirm password</p>
              </div>
              <div class="center half-margintop">
                <button ion-button round medium (click)="SubmitPassword()" type="submit">Submit</button>
              </div>
          </form>
          </div>
        </ion-item-group>
</ion-content>
