<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar color="primary" class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="assets/img/icon.png">
        <h4 class="name">Guest</h4>
        <h6 class="name neg-margintop neg-marginbottom">WaterMart</h6>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="outer-content cntstyle">
    <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
            <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
            <span ion-text [color]="isActive(p)">{{p.title}}</span>
          </button>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
         <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
         <span ion-text class="margingleft" [color]="isActive(p)">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- logged in As Customer menu -->
<ion-menu id="loggedInCustomerPages" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar color="primary" class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="assets/img/icon.png">
        <h4 class="name neg-margintop">{{Userfullname}}</h4>
        <h6 class="name neg-margintop neg-marginbottom">WaterMart</h6>
    </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="outer-content cntstyle">
    <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
            <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
            <span ion-text [color]="isActive(p)">{{p.title}}</span>
          </button>
      <button ion-item menuClose *ngFor="let p of loggedInCustomerPages" (click)="openPage(p)">
         <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
         <span ion-text [color]="isActive(p)">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- logged in As Supplier menu -->
<ion-menu id="loggedInSupplierMenu" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar color="primary" class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="assets/img/icon.png">
        <h4 class="name neg-margintop">{{Userfullname}}</h4>
        <h6 class="name neg-margintop neg-marginbottom">WaterMart</h6>
    </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="outer-content cntstyle">
    <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
            <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
            <span ion-text [color]="isActive(p)">{{p.title}}</span>
          </button>
      <button ion-item menuClose *ngFor="let p of loggedInSupplerPages" (click)="openPage(p)">
         <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
         <span ion-text [color]="isActive(p)">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- logged in As Admin menu -->
<ion-menu id="loggedInAdminMenu" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar color="primary" class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="assets/img/icon.png">
        <h4 class="name neg-margintop">{{Userfullname}}</h4>
        <h6 class="name neg-margintop neg-marginbottom">WaterMart</h6>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="outer-content cntstyle">
    <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
            <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
            <span ion-text [color]="isActive(p)">{{p.title}}</span>
          </button>
      <button ion-item menuClose *ngFor="let p of loggedInAdminPages" (click)="openPage(p)">
         <i class="fa fa-{{p.icon}} {{p.color}} marginright slightly-largetext" aria-hidden="true"></i>
         <span ion-text [color]="isActive(p)">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>