// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.faGreen {
    color: #28a54c;
 }
 .faOrange {
    color: #ff6600;
 }
 .faLightBlue {
    color: #31C0E6;
 }
 .faYellow{
    color: #f2c100;
 }

 .faPrimary{
    color: #6ba1d4;
 }
  .half-marginright {
     margin-right: 0.5em !important;
   }
 .half-marginleft {
     margin-left: 0.5em !important;
   }
   .bar-profile {
   background-color: #ddd;//ddd
   padding: 2.8em 0;
 }
 .profile {
   z-index: 0;
   overflow: hidden;
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
 }
 .name {
   color: #fff;
   margin-top: 5px !important;
   margin-bottom: 10px !important;
   text-align: center;
 }
 .profile-picture {
   border-radius: 70%;
   width: 4em;
   height: 4em;
 }
 .menu .has-header {
   top: 100px;
 }
 #menuitem{
 color: #fff;
 padding: 0.1em 3em 0.1em;
 }
 .cntstyle {
   background-color: #fff;
   color: #333;
 }
 .cntstyle .list {
   background-color: transparent;
 }
 .cntstyle .item {
   padding-top: 2px;
   padding-bottom: 2px;
   border-bottom: 1px solid #777;
 }
 .cntstyle .item,
 .cntstyle .item-complex,
 .cntstyle .item-content {
   background-color: transparent;
   color: #000;
   border-color: rgba(0,0,0,0);
 }
 